<div>
    <v-app>
        <mobile-app-container>
            <img class="login-illustration" src="@/assets/login_img.svg" alt="Guy with the smartphone">
            <form class="login-container">
                <label for="email">Email</label>
                <input id="email"
                       type="email"
                       placeholder="email@address.com"
                       required
                       v-model="form.email"
                />

                <label for="password">Пароль</label>
                <input id="password"
                       type="password"
                       required minlength="6"
                       v-model="form.password"
                />

                <label for="register">Нет аккаунта?</label>
                <input id="register"
                       class="link-button"
                       type="button"
                       value="Зарегистрироваться"
                       @click="$router.push('registration')"
                />

                <button type="button" class="plain-button" id="login-button" v-on:click="submit">Войти</button>
            </form>
        </mobile-app-container>
    </v-app>
</div>
