$_ft-light-blue: #D6E4EC;
$_ft-blue: #7480FF;
$_ft-blue-dark: #545FDB;
$_ft-blue-very-dark: #3A43B7;

$_ft-green: #49C0B8;
$_ft-green-dark: #3A9D97;

$_ft-red: #E25822;
$_ft-red-dark: #AC4319;

$_ft-black: #000000;
$_ft-gray27: #444444;
$_ft-gray51: #828282;
$_ft-gray67: #AAAAAA;
$_ft-gray76: #C2C2C2;
$_ft-gray96: #F5F5F5;
$_ft-white: #FFFFFF;
